<header class="relative z-50 w-full h-24">
    <div class="container flex items-center justify-center h-full max-w-6xl px-8 mx-auto sm:justify-between xl:px-0">
        <a href="/" class="relative flex items-center inline-block h-5 h-full font-black leading-none">


            <span class="ml-3 text-xl text-gray-800">VoteChain APP<span class="text-pink-500">.</span></span>
        </a>


        <div
            class="absolute left-0 flex-col items-center justify-center hidden w-full pb-8 mt-48 border-b border-gray-200 md:relative md:w-auto md:bg-transparent md:border-none md:mt-0 md:flex-row md:p-0 md:items-end lg:flex md:justify-between">

            <svg class="absolute d-none top-0 left-0 hidden w-screen max-w-3xl -mt-64 -ml-12 lg:block"
                viewBox="0 0 818 815" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <linearGradient x1="0%" y1="0%" x2="100%" y2="100%" id="c">
                        <stop stop-color="#E614F2" offset="0%" />
                        <stop stop-color="#FC3832" offset="100%" />
                    </linearGradient>
                    <linearGradient x1="0%" y1="0%" x2="100%" y2="100%" id="f">
                        <stop stop-color="#E614F2" offset="0%" />
                        <stop stop-color="#FC3832" offset="100%" />
                    </linearGradient>
                    <filter x="-4.7%" y="-3.3%" width="109.3%" height="109.3%" filterUnits="objectBoundingBox" id="a">
                        <feOffset dy="8" in="SourceAlpha" result="shadowOffsetOuter1" />
                        <feGaussianBlur stdDeviation="8" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
                        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" in="shadowBlurOuter1" />
                    </filter>
                    <filter x="-4.7%" y="-3.3%" width="109.3%" height="109.3%" filterUnits="objectBoundingBox" id="d">
                        <feOffset dy="8" in="SourceAlpha" result="shadowOffsetOuter1" />
                        <feGaussianBlur stdDeviation="8" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
                        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" in="shadowBlurOuter1" />
                    </filter>
                    <path
                        d="M160.52 108.243h497.445c17.83 0 24.296 1.856 30.814 5.342 6.519 3.486 11.635 8.602 15.12 15.12 3.487 6.52 5.344 12.985 5.344 30.815v497.445c0 17.83-1.857 24.296-5.343 30.814-3.486 6.519-8.602 11.635-15.12 15.12-6.52 3.487-12.985 5.344-30.815 5.344H160.52c-17.83 0-24.296-1.857-30.814-5.343-6.519-3.486-11.635-8.602-15.12-15.12-3.487-6.52-5.343-12.985-5.343-30.815V159.52c0-17.83 1.856-24.296 5.342-30.814 3.486-6.519 8.602-11.635 15.12-15.12 6.52-3.487 12.985-5.343 30.815-5.343z"
                        id="b" />
                    <path
                        d="M159.107 107.829H656.55c17.83 0 24.296 1.856 30.815 5.342 6.518 3.487 11.634 8.602 15.12 15.12 3.486 6.52 5.343 12.985 5.343 30.816V656.55c0 17.83-1.857 24.296-5.343 30.815-3.486 6.518-8.602 11.634-15.12 15.12-6.519 3.486-12.985 5.343-30.815 5.343H159.107c-17.83 0-24.297-1.857-30.815-5.343-6.519-3.486-11.634-8.602-15.12-15.12-3.487-6.519-5.343-12.985-5.343-30.815V159.107c0-17.83 1.856-24.297 5.342-30.815 3.487-6.519 8.602-11.634 15.12-15.12 6.52-3.487 12.985-5.343 30.816-5.343z"
                        id="e" />
                </defs>
                <g fill="none" fill-rule="evenodd" opacity=".9">
                    <g transform="rotate(65 416.452 409.167)">
                        <use fill="#000" filter="url(#a)" xlink:href="#b" />
                        <use fill="url(#c)" xlink:href="#b" />
                    </g>
                    <g transform="rotate(29 421.929 414.496)">
                        <use fill="#000" filter="url(#d)" xlink:href="#e" />
                        <use fill="url(#f)" xlink:href="#e" />
                    </g>
                </g>
            </svg>
        </div>

        <div id="nav-mobile-btn"
            class="absolute top-0 right-0 z-50 block w-6 mt-8 mr-10 cursor-pointer select-none md:hidden sm:mt-10">
            <span class="block w-full h-1 mt-2 duration-200 transform bg-gray-800 rounded-full sm:mt-1"></span>
            <span class="block w-full h-1 mt-1 duration-200 transform bg-gray-800 rounded-full"></span>
        </div>
    </div>
</header>

<div class="relative items-center justify-center w-full lg:pt-40 lg:pb-40 xl:pt-40 xl:pb-64">
    <div
        class="container flex flex-col items-center justify-center xl:justify-center h-full max-w-6xl px-8 mx-auto -mt-32 lg:flex-row xl:px-0 mx-auto">
        <div
            class="z-30 flex flex-col items-center w-full max-w-xl text-center lg:items-start lg:w-1/2 lg:text-left pt-32 xl:pt-10">
            <div id="features" class="relative w-full px-8 xl:px-0">
                <div class="container flex flex-col items-center justify-between h-full max-w-6xl mx-auto">
                    <h2 class="my-5 text-base font-medium tracking-tight text-indigo-500 uppercase">
                        Formulario
                    </h2>
                    <h3
                        class="max-w-2xl px-5 mt-2 text-xl font-black leading-tight text-center text-gray-900 sm:mt-0 sm:px-0 sm:text-6xl">
                        Formulario para crear una votación 
                    </h3>
                    <div class="flex flex-col w-full mt-0 lg:flex-row sm:mt-10 lg:mt-20">
                        <div class="mt-10 sm:mt-0 mx-auto">
                            <div class="md:grid md:grid-cols-2 md:gap-6">
                                <div class="mt-5 md:mt-0 md:col-span-2">

                                    {{!-- FORM SET CANTIDAD DE CONSORCISTAS --}}
                                    <form id="set-consorcistas" method="POST" action="/consorcio/add">

                                        <div class="flex flex-row col-span-6 sm:col-span-4 justify-between">
                                            <div class="col-span-6 sm:col-span-4">
                                                <label for="count-consorcistas"
                                                    class="block text-sm font-medium text-gray-700">Cantidad
                                                    de votantes</label>

                                                <input type="number" name="consorcistas" id="count-consorcistas"
                                                    
                                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                                            </div>

                                            <div
                                                class="px-4 py-3 bg-gray-50 text-right sm:px-6 col-span-6 sm:col-span-4">
                                                <button form="set-consorcistas" type="submit"
                                                    class="inline-flex justify-center py-2 px-2 border
                                                    border-transparent shadow-sm text-sm font-medium rounded-full
                                                    text-white
                                                    bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2
                                                    focus:ring-offset-2 focus:ring-indigo-500">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"
                                                        viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd"
                                                            d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg class="absolute left-0 max-w-md mt-24 -ml-64 left-svg" viewBox="0 0 423 423"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <linearGradient x1="100%" y1="0%" x2="4.48%" y2="0%" id="linearGradient-1">
                    <stop stop-color="#FC3832" offset="0%" />
                    <stop stop-color="#E614F2" offset="100%" />
                </linearGradient>
                <filter x="-9.3%" y="-6.7%" width="118.7%" height="118.7%" filterUnits="objectBoundingBox"
                    id="filter-3">
                    <feOffset dy="8" in="SourceAlpha" result="shadowOffsetOuter1" />
                    <feGaussianBlur stdDeviation="8" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0" in="shadowBlurOuter1" />
                </filter>
                <rect id="path-2" x="63" y="504" width="300" height="300" rx="40" />
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity=".9">
                <g id="Desktop-HD" transform="translate(-39 -531)">
                    <g id="Hero" transform="translate(43 83)">
                        <g id="Rectangle-6" transform="rotate(45 213 654)">
                            <use fill="#000" filter="url(#filter-3)" xlink:href="#path-2" />
                            <use fill="url(#linearGradient-1)" xlink:href="#path-2" />
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>
</div>